*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --maincolor: rgb(0, 196, 214);
    --seccolor: rgb(255, 255, 255);
    --seccolor2: rgb(179, 70, 1);
    --darkcolor: rgb(28, 28, 28);
    --seccolor3: #6f2254;
    --mainwidth: 1.5rem;

}
body
{
    font-family: "Roboto", sans-serif;
    background: var(--darkcolor);
}
.home
{
    background: url(../images/gradient-background-2560x1080-11027.jpg) no-repeat center fixed;
}
.navbar 
{
    border-radius: 0rem 0rem .7rem .7rem;
    background: var(--darkcolor) !important;
    /* height: 3.7rem; */
}
.navbar a
{
    color: var(--maincolor);
}
.navbar .btn
{
    background-color: var(--seccolor3);
    color: var(--seccolor);
}
.navbar a:hover
{
    color: var(--seccolor);
}
.navbar span svg
{
    color: var(--seccolor) !important;
}
.navbar .navbar-toggler:focus
{
    box-shadow: none;
}
.navbar .navbar-toggler
{
    border: 1px solid #fff;
    transition: .2s ease;
}
.navbar .navbar-toggler[aria-expanded="true"]
{
    border: 1px solid var(--maincolor);
}
/* END OF NAV BAR */
/* START OF LANDING */
.landing
{
    height: calc(100vh - 58px);
    background: #0000008e;
}
.btn-h
{
    background: var(--maincolor);
    color: var(--seccolor);
}