@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Indie+Flower&family=Libre+Barcode+39+Extended+Text&family=Roboto+Condensed:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&family=Satisfy&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --P-main-color: #6610f2;
    --p-100-main-color: #e0cffc;
    --p-200-main-color: #c29ffa;
    --p-300-main-color: #a370f7;
    --p-400-main-color: #8540f5;
    --p-500-main-color: #6610f2;
    --p-600-main-color: #520dc2;
    --p-700-main-color: #3d0a91;
    --p-800-main-color: #290661;
    --p-900-main-color: #140330;
    --maincolor: #00c4d6;
    --seccolor: #ffffff;
    --seccolor2: #b34601;
    --darkcolor: #1c1c1c;
    --seccolor3: #6f2254;
    --mainwidth: 1.5rem;
    --border-radius: .7rem;
    --sec-border-radius: .4rem;
    --main-transition: .4s ease;
    --main-border-raduis: 1rem;
}
body
{
    font-family: "Roboto", sans-serif;
    background: var(--darkcolor);
}
.overlay{
    background: #000000a5;
    width: 100%;
    height: 100%;
}
.home
{
    background: url(../images/gradient-background-2560x1080-11027.jpg) no-repeat center fixed;
    background: url(../images/wallpaperflare.com_wallpaper.jpg) no-repeat center fixed;
}
.navbar > .container
{
    border-radius: 0rem 0rem .7rem .7rem;
}
.navbar-nav .nav-link
{
    position: relative;
    color: var(--p-100-main-color);
}
.navbar a:hover
{
    color: var(--seccolor);
}
a.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0.3rem;
    left: 0.4rem;
    height: 2px;
    width: 0%;
    background: #fff;
    transition: var(--main-transition);
}
a.nav-link:hover::after {
    width: 80%;
}
/* NAV BS TOGGLERS */
.navbar span svg
{
    color: var(--seccolor) !important;
}
.navbar .navbar-toggler:focus
{
    box-shadow: none;
}
.navbar .navbar-toggler
{
    border: 1px solid #fff;
    transition: .2s ease;
}
.navbar .navbar-toggler[aria-expanded="true"]
{
    border: 1px solid var(--maincolor) !important;
}
.dropdown-toggle::after{
    border: 0;
}
.dropdown-menu {
    border-radius: 1rem;
}
@media (min-width: 992px) {
    .dropdown-menu {
        transform: translateY(14px);
    }
}
@media (max-width:992px) {
    a.nav-link::after{
        display: none;
    }
}
.modal-content , .modal-content .modal-header {
    border-radius: var(--main-border-raduis) !important;
}
.modal-header {
    background: var(--p-500-main-color);
}
.modal-footer .btn.confirm {
    color: var(--bs-body-bg) !important;
    background: var(--p-500-main-color) !important;
}
/* END OF NAV BAR */
/* START OF LANDING */
.landing
{
    height: calc(100vh - 0px);
    background: #0000008e;
}
.btn-h
{
    background: var(--p-400-main-color);
    color: var(--seccolor);
}
.landing h1{
    font-weight: 800;
}
.landing p , #div1{
    font-family: 'Caveat', cursive;
}
/* //////////// END OF LANDING //////////// */
/* ///////////// START OF PROD //////////// */
.products
{
    height: 100vh;
    display: flex;

    align-items: center;
}
.card
{
    border-radius: var(--border-radius);
    padding-top: .4rem;
}
.btn-p
{
    background: var(--p-600-main-color);
    color: var(--seccolor);
}
.btn-p:hover
{
    background: var(--darkcolor);
    color: var(--seccolor);
}
.products #prod-s
{
    transition: all 1s;
    top: .5rem;
    margin: 0.4rem 1rem;
    color: var(--bs-primary);
    font-weight: 500;
}
/* ?############ SERVICES ############*/
.services
{
    height: 100vh;
}
/* ! CAROUSEL SECTION */
.ccntr{
    display: grid;
    place-items: center;
}
.carousel-caption{
    /* background: rgba(255, 255, 255, 0.325); */
    z-index: 10;
    border-radius: var(--sec-border-radius);
}
.spot-eff {
    top: 10px;
    min-height: 250px;
}
.spot-eff::before {
    content: "";
    position: absolute;
    top: -250px;
    left: 0;
    width: 100%;
    height: 250px;
    /* background: linear-gradient(to top, rgb(0, 0, 0)1% , rgba(58, 58, 58, 0) 90%); */
    /* background: linear-gradient(to top, rgb(0, 0, 0)24% , rgba(58, 58, 58, 0) 98%); */
    background: linear-gradient(to top, rgb(0, 0, 0)7% , rgba(58, 58, 58, 0) );
}
.spot-eff::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(to bottom, rgb(0, 0, 0)1% , rgba(58, 58, 58, 0) 90%);
}
/* ! ACCORDION SECTION */
/* .gm-title{
    position: relative !important; 
} */
.gm-title::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--p-200-main-color);
    width: 100px;
    height: 3px;
}
/* ADDOTIONALS */
/* [data-bs-theme="dark"] .navbar a
{
    color: var(--p-200-main-color);
} */
