@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Indie+Flower&family=Libre+Barcode+39+Extended+Text&family=Roboto+Condensed:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&family=Satisfy&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --P-main-color: #6610f2;
    --p-100-main-color: #e0cffc;
    --p-200-main-color: #c29ffa;
    --p-300-main-color: #a370f7;
    --p-400-main-color: #8540f5;
    --p-500-main-color: #6610f2;
    --p-600-main-color: #520dc2;
    --p-700-main-color: #3d0a91;
    --p-800-main-color: #290661;
    --p-900-main-color: #140330;
    --maincolor: #00c4d6;
    --seccolor: #ffffff;
    --seccolor2: #b34601;
    --darkcolor: #1c1c1c;
    --seccolor3: #6f2254;
    --mainwidth: 1.5rem;
    --border-radius: .7rem;
    --sec-border-radius: .4rem;
    --main-transition: .4s ease;
    --main-border-raduis: 1rem;
}
body
{
    font-family: "Roboto", sans-serif;
    background: var(--darkcolor);
}
.overlay{
    background: #000000a5;
    width: 100%;
    height: 100%;
}
.home
{
    background: url(../images/gradient-background-2560x1080-11027.jpg) no-repeat center fixed;
    background: url(../images/wallpaperflare.com_wallpaper.jpg) no-repeat center fixed;
}
.navbar > .container
{
    border-radius: 0rem 0rem .7rem .7rem;
}
.navbar-nav .nav-link
{
    position: relative;
    color: var(--p-100-main-color);
}
.navbar a:hover
{
    color: var(--seccolor);
}
a.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0.3rem;
    left: 0.4rem;
    height: 2px;
    width: 0%;
    background: #fff;
    transition: var(--main-transition);
}
a.nav-link:hover::after {
    width: 80%;
}
/* NAV BS TOGGLERS */
.navbar span svg
{
    color: var(--seccolor) !important;
}
.navbar .navbar-toggler:focus
{
    box-shadow: none;
}
.navbar .navbar-toggler
{
    border: 1px solid #fff;
    transition: .2s ease;
}
.navbar .navbar-toggler[aria-expanded="true"]
{
    border: 1px solid var(--maincolor) !important;
}
.dropdown-toggle::after{
    border: 0;
}
.dropdown-menu {
    border-radius: 1rem;
}
@media (min-width: 992px) {
    .dropdown-menu {
        transform: translateY(14px);
    }
}
@media (max-width:992px) {
    a.nav-link::after{
        display: none;
    }
}
.modal-content , .modal-content .modal-header {
    border-radius: var(--main-border-raduis) !important;
}
.modal-header {
    background: var(--p-500-main-color);
}
.modal-footer .btn.confirm {
    color: var(--bs-body-bg) !important;
    background: var(--p-500-main-color) !important;
}
/* END OF NAV BAR */
/* START OF LANDING */
.landing
{
    height: calc(100vh - 0px);
    background: #0000008e;
}
.btn-h
{
    background: var(--p-400-main-color);
    color: var(--seccolor);
}
.landing h1{
    font-weight: 800;
}
.landing p , #div1{
    font-family: 'Caveat', cursive;
}
/* //////////// END OF LANDING //////////// */
/* ///////////// START OF PROD //////////// */
.products
{
    /* height: 100vh; */
    display: flex;

    align-items: center;
}
.card
{
    border-radius: var(--border-radius);
    padding-top: .4rem;
}
.btn-p
{
    background: var(--p-600-main-color);
    color: var(--seccolor);
}
.btn-p:hover
{
    background: var(--darkcolor);
    color: var(--seccolor);
}
.products #prod-s
{
    transition: all 1s;
    top: .5rem;
    margin: 0.4rem 1rem;
    color: var(--bs-primary);
    font-weight: 500;
}
/* ?############ SERVICES ############*/
.services
{
    /* height: 100vh; */
}
/* ! CAROUSEL SECTION */
.ccntr{
    display: grid;
    place-items: center;
}
.carousel-caption{
    /* background: rgba(255, 255, 255, 0.325); */
    z-index: 10;
    border-radius: var(--sec-border-radius);
}
.spot-eff {
    top: 10px;
    min-height: 250px;
}
.spot-eff::before {
    content: "";
    position: absolute;
    top: -250px;
    left: 0;
    width: 100%;
    height: 250px;
    /* background: linear-gradient(to top, rgb(0, 0, 0)1% , rgba(58, 58, 58, 0) 90%); */
    /* background: linear-gradient(to top, rgb(0, 0, 0)24% , rgba(58, 58, 58, 0) 98%); */
    background: linear-gradient(to top, rgb(0, 0, 0)7% , rgba(58, 58, 58, 0) );
}
.spot-eff::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(to bottom, rgb(0, 0, 0)1% , rgba(58, 58, 58, 0) 90%);
}
/* ! ACCORDION SECTION */
/* .gm-title{
    position: relative !important; 
} */
.gm-title::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--p-200-main-color);
    width: 100px;
    height: 3px;
}
/* ! PRODUCTS */
.cardhover{
    /* flex-basis: 325px; */
    /* flex-grow: 0 !important; */
}
.cardhover , .c-img{
    transition: 0.5s; 
}
.cardhover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    background: #1403307e;
    transition: .5s;
    border-radius: inherit;
    z-index: 88;
}
.cardhover:hover .c-img{
    scale: 1.2;
}
.cardhover::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 0%;
    background: #1403307e;
    border-radius: inherit;
    transition: all .5s ease-in-out;
    z-index: 88;
}
.cardhover:hover::before{
    width: 100%;
    height: 100%;
}
.cardhover:hover::after{
    width: 100%;
    height: 100%;
}
.btn-prod{
    z-index: 100;
}
/* ! services */
.services .card{
    transition: .3s ease-in-out;
}
.services .card:hover{
    transform: scale(0.9);
}
.services .card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, black 14%, transparent);
    z-index: 99;
}
.card-img-overlay{
    z-index: 100;
}
/* .s-item{
    height: 4rem;
    width: 30%;
} */
.s-item .s-item2{
    background: url("../images/poster2.png");
    height: 4rem;
    width: 100%;
}
/* ADDOTIONALS */
/* [data-bs-theme="dark"] .navbar a
{
    color: var(--p-200-main-color);
} */
     /* News */
     .postcard {
        /* height: 400px; */
        flex-wrap: wrap;
        display: flex;
        box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
        border-radius: 10px;
        margin: 0 0 2rem 0;
        overflow: hidden;
        position: relative;
        color: #ffffff;
        box-shadow: -6px 1px 21px -1px rgb(201 198 241);
          }
      .postcard.dark {
        background-color: #18151f;
      }
      .postcard.light {
        background-color: #e1e5ea;
      }
      .postcard .t-dark {
        color: #18151f;
      }
      .postcard a {
        color: inherit;
      }
      .postcard h1, .postcard .h1 {
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
      }
      .postcard .small {
        font-size: 80%;
      }
      .postcard .postcard__title {
        font-size: 1.75rem;
      }
      .postcard .postcard__img {
        max-height: 180px;
        width: 100%;
        object-fit: cover;
        position: relative;
      }
      .postcard .postcard__img_link {
        display: contents;
      }
      .postcard .postcard__bar {
        width: 50px;
        height: 10px;
        margin: 10px 0;
        border-radius: 5px;
        background-color: #424242;
        transition: width 0.2s ease;
      }
      .postcard .postcard__text {
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
      }
      .postcard .postcard__preview-txt {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        height: 100%;
      }
      .postcard .postcard__tagbox {
        display: flex;
        flex-flow: row wrap;
        font-size: 14px;
        margin: 20px 0 0 0;
        padding: 0;
        justify-content: center;
      }
      .postcard .postcard__tagbox .tag__item {
        display: inline-block;
        background: rgba(83, 83, 83, 0.4);
        border-radius: 3px;
        padding: 2.5px 10px;
        margin: 0 5px 5px 0;
        cursor: default;
        -webkit-user-select: none;
        user-select: none;
        transition: background-color 0.5s;
      }
      .postcard .postcard__tagbox .tag__item:hover {
        background: rgba(83, 83, 83, 0.8);
      }
      .postcard:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(-70deg, #424242, transparent 50%);
        opacity: 1;
        border-radius: 10px;
      }
      .postcard:hover .postcard__bar {
        width: 100px;
      }
      
      @media screen and (min-width: 769px) {
        .postcard {
          flex-wrap: inherit;
        }
        .postcard .postcard__title {
          font-size: 2rem;
        }
        .postcard .postcard__tagbox {
          justify-content: start;
        }
        .postcard .postcard__img {
          max-width: 300px;
          max-height: 100%;
          transition: transform 0.3s ease;
        }
        .postcard .postcard__text {
          padding: 3rem;
          width: 100%;
        }
        .postcard .media.postcard__text:before {
          content: "";
          position: absolute;
          display: block;
          background: #18151f;
          top: -20%;
          height: 130%;
          width: 55px;
        }
        .postcard:hover .postcard__img {
          transform: scale(1.1);
        }
        .postcard:nth-child(2n+1) {
          flex-direction: row;
        }
        .postcard:nth-child(2n+0) {
          flex-direction: row-reverse;
        }
        .postcard:nth-child(2n+1) .postcard__text::before {
          left: -12px !important;
          transform: rotate(4deg);
        }
        .postcard:nth-child(2n+0) .postcard__text::before {
          right: -12px !important;
          transform: rotate(-4deg);
        }
      }
      @media screen and (min-width: 1024px) {
        .postcard__text {
          padding: 2rem 3.5rem;
        }
      
        .postcard__text:before {
          content: "";
          position: absolute;
          display: block;
          top: -20%;
          height: 130%;
          width: 55px;
        }
      
        .postcard.light .postcard__text:before {
          background: #e1e5ea;
        }
      }
      /* COLORS */
      .postcard .postcard__tagbox .green.play:hover {
        background: #79dd09;
        color: black;
      }
      
      .green .postcard__title:hover {
        color: #79dd09;
      }
      
      .green .postcard__bar {
        background-color: #79dd09;
      }
      
      .green::before {
        background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
      }
      
      .green:nth-child(2n)::before {
        background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
      }
      
      .postcard .postcard__tagbox .blue.play:hover {
        background: #0076bd;
      }
      
      .blue .postcard__title:hover {
        color: #0076bd;
      }
      
      .blue .postcard__bar {
        background-color: #0076bd;
      }
      
      .blue::before {
        background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
      }
      
      .blue:nth-child(2n)::before {
        background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
      }
      
      .postcard .postcard__tagbox .red.play:hover {
        background: #bd150b;
      }
      
      .red .postcard__title:hover {
        color: #bd150b;
      }
      
      .red .postcard__bar {
        background-color: #bd150b;
      }
      
      .red::before {
        background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
      }
      
      .red:nth-child(2n)::before {
        background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
      }
      
      .postcard .postcard__tagbox .yellow.play:hover {
        background: #bdbb49;
        color: black;
      }
      
      .yellow .postcard__title:hover {
        color: #bdbb49;
      }
      
      .yellow .postcard__bar {
        background-color: #bdbb49;
      }
      