*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --P-main-color: #6610f2;
    --p-100-main-color: #e0cffc;
    --p-200-main-color: #c29ffa;
    --p-300-main-color: #a370f7;
    --p-400-main-color: #8540f5;
    --p-500-main-color: #6610f2;
    --p-600-main-color: #520dc2;
    --p-700-main-color: #3d0a91;
    --p-800-main-color: #290661;
    --p-900-main-color: #140330;
    --maincolor: #00c4d6;
    --seccolor: #ffffff;
    --seccolor2: #b34601;
    --darkcolor: #1c1c1c;
    --seccolor3: #6f2254;
    --mainwidth: 1.5rem;
    --border-radius: .7rem;
    --sec-border-radius: .4rem;
    --main-transition: .4s ease;
    --main-border-raduis: 1rem;
}
body
{
    font-family: "Roboto", sans-serif;
    background: var(--darkcolor);
}
.home
{
    background: url(../images/gradient-background-2560x1080-11027.jpg) no-repeat center fixed;
}
.navbar > .container
{
    border-radius: 0rem 0rem .7rem .7rem;
}
.navbar-nav .nav-link
{
    position: relative;
    color: var(--p-100-main-color);
}
.navbar a:hover
{
    color: var(--seccolor);
}
a.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0.3rem;
    left: 0.4rem;
    height: 2px;
    width: 0%;
    background: #fff;
    transition: var(--main-transition);
}
a.nav-link:hover::after {
    width: 80%;
}
/* NAV BS TOGGLERS */
.navbar span svg
{
    color: var(--seccolor) !important;
}
.navbar .navbar-toggler:focus
{
    box-shadow: none;
}
.navbar .navbar-toggler
{
    border: 1px solid #fff;
    transition: .2s ease;
}
.navbar .navbar-toggler[aria-expanded="true"]
{
    border: 1px solid var(--maincolor) !important;
}
.dropdown-toggle::after{
    border: 0;
}
.dropdown-menu {
    border-radius: 1rem;
}
@media (min-width: 992px) {
    .dropdown-menu {
        transform: translateY(14px);
    }
}
@media (max-width:992px) {
    a.nav-link::after{
        display: none;
    }
}
.modal-content , .modal-content .modal-header {
    border-radius: var(--main-border-raduis) !important;
}
.modal-header {
    background: var(--p-500-main-color);
}
.modal-footer .btn.confirm {
    color: var(--bs-body-bg) !important;
    background: var(--p-500-main-color) !important;
}
/* END OF NAV BAR */
/* START OF HOME*/
.title
{
    color: #fff;
}
.card-img
{
    height: 240px !important;
    width: 100%;
    background: url(https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/folder_920_201707260845-1.png) center/cover no-repeat;
}
.card-parent .cr-2
{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlxlMZLh_0ESGXRsXV4S0pWLHgVE5QrqxSr_dxF5r-CQB4gh9eSgIDevxs&s=10) center/cover no-repeat;
    background-size: 145%;
    
}
.card-parent .cr-3
{
    background: url(https://play-lh.googleusercontent.com/SgbeD-i8jG_TJ-RqyFeKoDXsdejlmnHqhM4TJfuvdpCpiDPL8snvIfEmq3xamJ4xJA=w600-h300-pc0xffffff-pd) center/cover no-repeat;
    background-size: 260% !important;
    
}
.card-parent .cr-4
{
    background: url(https://seeklogo.com/images/Y/youtube-red-original-series-logo-051DF29E48-seeklogo.com.png) center/cover no-repeat;
    /* background-size: 100%; */
    
}
.card-parent .cr-5
{
    background: url(https://pbs.twimg.com/profile_images/1661161645857710081/6WtDIesg_400x400.png) center/cover no-repeat;
}
.card-parent .cr-6
{
    background: url(https://logowik.com/content/uploads/images/905_apple_music.jpg) center/contain no-repeat;
}
.card-parent .cr-7
{
    background: url(https://i.insider.com/5e431d0c3b62b732ad6c3c6c) center/cover no-repeat; 
}
#total
{
    border: 1px solid;
}
